aiobotocore==0.9.3
aiofiles==0.3.2
aiohttp==3.3.2
async-timeout==3.0.0
peewee==3.6.4
pillow==6.2.0
pocketsphinx==0.1.15
psutil==5.6.6
pydub==0.22.1
pyppeteer==0.0.25
pyyaml>=4.2b1
requests==2.20.0
user-agent==0.1.9
websockets==6.0
flake8==3.5.0
