aiobotocore==0.9.2
aiofiles==0.3.2
aiohttp==3.3.2
async-timeout==3.0.0
peewee==3.5.2
pocketsphinx==0.1.15
psutil==5.4.6
pydub==0.22.1
pyppeteer==0.0.17
pyyaml==3.12
requests==2.19.1
user-agent==0.1.9
websockets==5.0.1