aiodns==1.1.1
aiofiles==0.3.2
aiohttp==3.3.1
aiomisc==0.4.4
async-timeout==3.0.0
attrs==18.1.0
backoff==1.5.0
backup==0.0.1
blinker==1.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorlog==3.1.4
fast-json==0.3.0
h11==0.7.0
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
idna==2.6
idna-ssl==1.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==4.3.1
pbr==4.0.4
prettylog==0.2.0
pycares==2.3.0
pydub==0.22.0
pyee==5.0.0
pyppeteer==0.0.17
Quart==0.5.0
requests==2.18.4
six==1.11.0
sortedcontainers==2.0.4
stevedore==1.28.0
ujson==1.35
urllib3==1.22
user-agent==0.1.9
uvloop==0.10.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
websockets==5.0.1
wsproto==0.11.0
yarl==1.2.5
